.hangman-btns,
.select-word{
    margin: auto;
    width: 70%;
}

.button {
    /* display: block;
    position: relative;
    float: left; */
    width: 30px;
    padding: 0;
    margin: 10px 10px 0 0;
    font-weight: 600;
    font-size: large;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
}

.btnBlueGreen {
    background: #00AE68;
}

.reloadBtn{
    margin-left: 10px;
    font-size: 25px;
    background-color: white;
    border: none;
}

.reloadBtn:hover {
    background: gray;
}

.button:disabled,
.btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
    background-color: #cccccc;
    color: #666666;
}

.confetti{
    padding-left: 50%;
    margin-top: -50%;
}